body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    height: 92vh;
    width: 100%;
}

.legend {
    background: white;
    padding: 8px;
    line-height: 18px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}
